<html>

<%- include('includes/header.ejs'); %>

<div class="row">
    <div class="col-2">
        &nbsp;
    </div>
    <div class="col-8">
        <center>
            <h1 class="headinghome">Our Book Categories</h1>
            <p class="headingp">As CES returns to Las Vegas, the show will display the next wave innovation that will
                shape 2022 and the economy of tomorrow. The show is set to feature a plethora of exhibitors advancing
                two of the most compelling technology megatrends of the future: intelligent automation and the evolution
                of the metaverse. Excitement, connections and spontaneity — we hope you are as excited as we are to
                experience these again in person in Las Vegas this January. Long time show categories like smart home,
                vehicle tech and startups are growing even as we see new categories like space tech, food tech and
                non-fungible tokens (NFTs) emerging.</p>
        </center>
    </div>
    <div class="col-2">
        &nbsp;
    </div>
</div>

<div class="row">
    <div class="col-2">
        &nbsp;
    </div>
    <div class="col-8 btnregister">
        <center>
            <h1 class="headinghome">Join Our Conference Now!</h1>
            <p class="headingp">Stay up-to-date and get important reminders about what's in store for CES. Hear more
                about trends and inspiring innovations covering the spectrum of technology, from blockchain and
                artificial intelligence to marketing and resilience.</p>
            <a href="/registration"><input type="submit" name="btnsubmit" value="Register Now"></a>
        </center>
    </div>
    <div class="col-2">
        &nbsp;
    </div>
</div>
</body>

</html>